<div mat-dialog-title>
    <h1>Objectif Form</h1>
</div>
<form [formGroup]="objectifForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type="text" placeholder="Ex. Project X" formControlName="description">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date limite</mat-label>
                <input matInput [matDatepicker]="picker" formControlName="date_limite">
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>État d'avancement</mat-label>
                <mat-select formControlName="etat_avancement">
                    <mat-option *ngFor="let val of etat_avancement" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Niveau</mat-label>
                <mat-select formControlName="niveau">
                    <mat-option *ngFor="let val of niveau" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit" (click)="refresh()">{{data ? 'Modifier': 'Ajouter'}}</button>
    </div>
</form>

