<div mat-dialog-title>
    <h1>Formulaire Résultat</h1>
</div>
<form [formGroup]="resultatForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Titre</mat-label>
                <input matInput type="text" placeholder="Titre" formControlName="titre">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Description</mat-label>
                <input matInput type="text" placeholder="Description" formControlName="description">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Avancement (%) </mat-label>
                <input matInput type="number" placeholder="Avancement" formControlName="avancement">
                <span *ngIf="resultatForm.controls['avancement'].invalid && (resultatForm.controls['avancement'].dirty || resultatForm.controls['avancement'].touched)">
                    Veuillez entrer une valeur entre 0 et 100.
                  </span>
            </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>État d'avancement</mat-label>
                    <mat-select formControlName="etat_avancement">
                        <mat-option *ngFor="let val of etat_avancement" [value]="val">{{val}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                
            <mat-form-field appearance="outline">
                <mat-label>Objectif</mat-label>
                <mat-select formControlName="objectif" (selectionChange)="onSelectObjectif($event.value)">
                    <mat-option *ngFor="let objectif of objectifs" [value]="objectif._id">
                        {{ objectif.description }}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Annuler</button>
        <button mat-raised-button color="primary" type="submit" (click)="refresh()">{{data ? 'Modifier': 'Ajouter'}}</button>
    </div>
</form>
